// Cores ACP

$primaria:   #4C804F;
$secundaria: #803881;
$claro:      #F2F7F2;
$escuro:     #09100A;

// scss-docs-start theme-color-variables
$primary:       $primaria;
$secondary:     $secundaria;
$light:         $claro;
$dark:          $escuro;


// Fontes ACP

@font-face {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
  
}


@font-face {
  font-family: 'Yokai';
  src: url('\fonts/OTYokai-Regular.woff2') format('woff2'),
       url('\fonts/OTYokai-Regular.woff') format('woff'),
       url('\fonts/OTYokai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.yokai {
  font-family: "Yokai";
  font-size: 1.25em;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$icon-link-icon-transform:    translate3d(0, -3px, 0);